# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Streamlit
.streamlit/

# Dati progetto
uploads/
output/
data/

# Sistema
.DS_Store
Thumbs.db
